.page-header {
  text-align: center;
  height: 90px;
  background-color: #00346b;
}

h1 {
  color: #ffffff;
  padding: 21px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 6px;
}

h5 {
    padding-top: 17px;
    margin: 0px;
}

#sidebar {
  padding-top: 15px;
  padding-left: 30px;
  height: 650px;
}

#cityInfo {
  border: 1px solid #e0e0e0;
  height: 340px;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
}

#uvDiv {
  display: none;
}

#uvIndex {
  width: 56px;
  border-radius: 6px;
  padding-left: 8px;
}

#forecast {
  margin: 0px;
  color: #ffffff;
}

#day1, #day2, #day3, #day4, #day5 {
  margin: 10px 20px 10px 0px;
  border-radius: 10px;
  background-color: #177cff;
  height: 220px;
  float: left;
}

#cityBtns {
  margin-top: 20px;
}

.cityButtons {
  width: -webkit-fill-available;
  text-align: left;
  height: 40px;
  margin-bottom: 5px;
}